extends ../shared/template

block content
  .leaderboard-container
    h3 Leaderboard
  #all-games
    each game in games
      .games
        #place
        a.user(href='/users/#{game.user}')
          h2.user= game.user
        h3.game #{game.score} Points
        div(class='leader-maps', id='#{game._id}')
        h6.date= game.date
        each coord in game.coords
          div(class='coords', data-guess='#{coord.guessLoc}', data-actual='#{coord.actualLoc}')
        //- if (user.isOwner(game.userId))
        //-   button.deleteGame X
block scripts
  script(src='/js/es6/compiled/mapsindex.js')
