extends ../shared/template

block content
  h3 Leaderboard
  #all-games
    each game in games
      h3.game= game.score
      a(href='/users/#{game.user}')= game.user
      div(class='leader-maps', id='#{game._id}', data-guess='#{game.guessLoc}', data-actual='#{game.actualLoc}')

block scripts
  script(src='/js/es6/compiled/leaderboard.js')
