extends ../shared/template

block content
  .usermaps-container
    h3 All User Created Maps
  each map in maps
    .user-maps
      a#map-title(href='/maps/#{map._id}')= map.title
      a#map-user(href='/users/#{map.user}') Created by: #{map.user}
      img.img-circle#thumbnail(src='#{map.userImage}')
      div(class='maps', id='#{map._id}')
      h6= map.date
      div(class='map-settings', data-center='#{map.center}', data-zoom='#{map.zoom}')

block scripts
  script(src='/js/es6/compiled/usermaps.js')
