extends ../shared/template

block content
  h3 ALL GAMES

  each map in maps
    .user-maps
      a(href='/maps/#{map._id}')= map.title
      h4 Created by: #{map.user}
      h5= map.date
      div(class='maps', id='#{map._id}')
      div(class='map-settings', data-center='#{map.center}', data-zoom='#{map.zoom}')

block scripts
  script(src='/js/es6/compiled/usermaps.js')
