extends ../shared/template

block content
  #profile-container
    #profile-header
      h3= owner.username
      img.img-circle(src= '#{owner.explorer}')
    #profile-menu
      a.glyphicon.glyphicon-heart.profile-links#revealFavs(href='#')
      a.glyphicon.glyphicon-save.profile-links#revealGames(href='#')
      a.glyphicon.glyphicon-picture.profile-links#revealMaps(href='#')

  #owner(data-id= owner._id)
  #my-games
    each game in games
      .games
        h3.game #{game.score} Points
        a(href='/owners/#{game.owner}')= game.owner
        div(class='leader-maps', id='#{game._id}')
        each coord in game.coords
          div(class='coords', data-guess='#{coord.guessLoc}', data-actual='#{coord.actualLoc}')
        if(user)
          if (user.isOwner(game.userId))
            button.deleteGame X

    each location in owner.faveLocs
      div(class='faveLocs', data-coords='#{location}')

  #my-maps
    each map in maps
      .my-maps
        a(href='/maps/#{map._id}')= map.title
        div(class='maps', id='#{map._id}')
        div(class='map-settings', data-center='#{map.center}', data-zoom='#{map.zoom}')
      if(user)
        if(user.isOwner(map.userId))
          button.deleteMap X


  #favsMap
  #dialog
    #pan

block scripts
  script(src='/js/es6/compiled/profilemaps.js')
